#calculator{
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.699);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;

}
body{
    margin:0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.699);
    align-content: center;
}
#display{
    width:100%;
    padding:20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgba(0, 0, 0, 0.699);
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width:100px;
    height:100px;
    border-radius: 40px;
    border: none;
    background-color: rgba(0, 0, 0, 0.411);
    color:white;
    font-size: 3rem;
    font-weight: bold;
    cursor:pointer;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.257);
}
button:active{
    background-color: rgba(0, 0, 0, 0.13);
}
.operator{
    background-color: rgba(210, 105, 30, 0.832);
}
.operator:hover{
    background-color: rgba(237, 132, 57, 0.832);
}
.operator:active{
    background-color: rgba(210, 105, 30, 0.832);
}